{% extends 'usersettings/index.html' %}
{% block title %}
Change Your Password
{% endblock  %}
{% block main-section %}
{% if ispassValid %}
<div id="changePassword">
      <div class="alert alert-warning alert-dismissible fade mt-5 show" role="alert">
        Entered old password is incorrect.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
       {% endif %}
       <div id="change-password">
  <form action="/accounts/changePassword/" method="post" class="text-dark">
    {% csrf_token %}
    <h2 class="">Change Password</h2>
    <div class="form-floating my-4">
      <input type="password" class="form-control"  id="confirm password"  name="old_pass" placeholder="Confirm Password" required>
      <label for="floatingPassword">Old Password</label>
      <small id="confpasshelp" style="display: none;" class="form-text text-muted">Password do not match!</small>
    </div>
    <div class="form-floating my-4">
        <input type="password" class="form-control" id="password" name="new_pass" onkeyup="validatePassword()" placeholder="Password" required>
        <label for="floatingPassword">New Password</label>
        <small id="passhelp" style="display: none;" class="form-text text-muted">Your password should be between 7 to 15 characters which should contain at least one numeric digit and a special character!</small>
    </div>
<button  id="submit" class="btn btn-primary" type="submit" disabled>Submit</button>
</form>
</div>
</div>
{% endblock  %}
{% block JS %}
$(".nav").find(".active").removeClass("active");
console.log("hi")
$('#changepass').find(".nav-link").addClass('active');
$('#changepass').find(".nav-link").addClass('active')
function validatePassword(){
  var paswd=  /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{7,15}$/;
  var enteredPass = document.getElementById("password").value;
if(!enteredPass.match(paswd)) 
{ 
document.getElementById("passhelp").style.display = "block";
document.getElementById('submit').disabled = true;
}
else{
  document.getElementById("passhelp").style.display = "none";
  document.getElementById('submit').disabled = false;
}
}

{% endblock  %}