{% extends 'usersettings/index.html' %}
{% block title %}
edit profile
{% endblock %}
{% block css %}
{% endblock %}
{% block main-section %}
{% if isupdate %}
<div class="alert alert-warning alert-dismissible fade mt-5 show" role="alert">
  Hey <strong> {{ request.user }}, </strong> Your details update successfully.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<form enctype="multipart/form-data">
  <div class="row">
    <div class="col-md-3">
      <img src="/media/{{profile_pic}}" class="img-fluid" width="120px" height="120px" id="Profilephoto"
        style="border-radius: 50px;" alt="">

    </div>
    <div class="col-md-4 my-3">
      <h3>{{request.user}}</h3>
      <input type="file" id="upload" accept="image/png,image/jpg,image/jpeg" name="pic" 
         hidden/>
      <label for="upload" class="text-center  btn btn-outline-primary mb-2">change profile pic</label>
      <small class="text-muted text-center" id="pic_name"></small>
      <a class="text-center mx-4 my-2" type="" name="removeP" href="">Remove photo</a>
    </div>
  </div>
</form>
<form action="/accounts/edit/" method="post">
  <div class="my-5">
    <label for="exampleFormControlInput1" class="form-label">Name:</label>
    <input type="text" class="form-control" name="name" id="exampleFormControlInput1" value="{{user_data.0.name}}"
      placeholder="Enter name">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Bio:</label>
    <textarea class="form-control" name="bio" id="exampleFormControlTextarea1"
      rows="3">{{user_data.0.user_desc}}</textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email Address:</label>
    <input type="email" class="form-control" name="email" id="exampleFormControlInput1"
      value="{{user_data.0.user_email}}" placeholder="Email Address">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Phone number:</label>
    <input type="number" class="form-control" name="phoneN" id="exampleFormControlInput1"
      value="{{user_data.0.user_phone}}" placeholder="Email Address">
  </div>
  <button class="btn btn-primary" type="submit">update</button>

</form>
{% endblock %}
{% block JS %}
$(".nav .nav-link").on("click", function () {
  $(".nav").find(".active").removeClass("active");
  $(this).addClass("active");
});

function closeModal(e) {
  $('#exampleModal').modal('hide');
  e.preventDefault();
}

$("#upload").change(function (e) {
  var file = e.target.files[0];
  console.log(file)
  if (file.value != "") {
    var data = new FormData();
    data.append('image', file);
    console.log("done")
    $.ajax({
      type: 'POST',
      url: '/accounts/edit/',
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      encode: true,
      success: function (response) {
        window.location.reload();
      },
    });
  }
});

{% endblock  %}