{% extends 'baseTemplate.html' %}
<title>
  {% block title %}
  {% endblock %}
</title>
{% block css %}

{% endblock %}
{% block body %}
  <h1 class="visually-hidden">Sidebars examples</h1>
  <div class="container col-md-8">
    <div class="d-flex flex-column flex-shrink-0 p-3 mb-4 text-white bg-light shadow rounded">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/accounts/edit/">Edit Profile</a>
        </li>
        <li class="nav-item" id="changepass">
          <a class="nav-link" href="/accounts/changePassword/" >Chage Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Apps & Websites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#"  >Privacy and Security</a>
        </li>
      </ul>
      <hr />
      <div class="main-section">
        <div class="p-5 bg-light rounded-3">
          {% block main-section %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  
  <script>
    $('.nav-link').click(function() {
        $('.nav-link').removeClass('active');
        $(this).addClass('active');
      });
    {% block JS %}
    {% endblock %}
</script>
{% endblock %}
