.navs {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
}

.navs::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b9e1eb;
  transform: translateY(100%);
  transition: transform 0.3s;
  z-index: -1;
}

.navs:hover::before {
  transform: translateY(0);
}
li .active {
  background-color: #b9e1eb;
  font-weight: 800;
}